{% extends "base.html" %}

{% block main %}
  <main>
    <div class='album'>
      <img src="{{ MEDIA_ROOT }}{{ album.cover.image.url }}">
      <ul>
        {% for photo in album.photos.all %}
          <li>
            {% include "include_photo.html" %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}

{% block nav %}
  <ul>
    {% if user == album.user %}
    <li><a href="/images/album/{{ album.id }}/edit">Edit</a></li>
    {% endif %}
    <li><a href="/profile">Profiles</a></li>
  </ul>
{% endblock %}