{% extends 'base.html' %}

{% block main %}
  <main>
    <h1>{{ error_type }}</h1>
    <p>Oops!</p>
  </main>
{% endblock %}

{% block nav %}
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
{% endblock %}
<!-->
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*
.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.
*+.,.+*^=============================+*^*+.,.+*^
,.+*^*+.|                           |*+.,.+*^*+.
*^*+.,.+| The vast ocean of Django  |.+*^*+.,.+
+.,.+*^*|                           |*^*+.,.+*^*
.+*^*+.,=============================+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.
*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*
.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.
*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*
.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.
*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*
.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.
*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*
.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.
*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*
.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.
*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*
.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,
^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*
.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,x+*^*+.,.+*^*+
+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+/ \+.,.+*^*+.,.
*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^/   \+*^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+/_   _\+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*| |.,.+*^*+.,.+
+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^* | |+*^*+.,.+*^*
.+*^=============================+ +===,.+*^*+.,
^*+.|                                 |*^*+.,.+*
.,.+|  The thing you're looking for   |.,.+*^*+
+*^*|                                 |.+*^*+.,.
*+.,===================================^*+.,.+*^
,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.
*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+*^*+.,.+
</!-->

