{% extends "base.html" %}

{% block main %}
  <main>
    <div class='library'>
      <ul>
        {% for album in albums %}
          <li>
            <a>
              <img src="{{ MEDIA_ROOT }}{{ album.cover.image.url }}">
              <p>{{ album.title }} by {{ album.user.username }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}

{% block nav %}
  <ul>
    <li><a href="../../profile">Profiles</a></li>
    <!--> What is the better way to do this? </!-->
  </ul>
{% endblock %}